description = "Default layout"
==
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% if this.page.description %}{{ this.page.description }}{% else %}{{ this.theme.meta_description }}{% endif %}">
        <meta name="keywords" content="{% if this.page.keywords %}{{ this.page.keywords }}{% else %}{{ this.theme.meta_keywords }}{% endif %}">
        <meta name="title" content="{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %}">
        <meta name="author" content="{{ this.theme.website_author }}">
        <link rel="icon" type="image/png" href="{{ 'assets/dist/images/october.png'|theme }}">
        <link href="{{ 'assets/dist/css/app.css'|theme }}" rel="stylesheet">
        {% styles %}
        <title>{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %} - {{ this.theme.website_name }}</title>
    </head>
    <body class="layout-{{ this.layout.id }} page-{{ this.layout.id }}">
        <div id="global-header" class="global-header">
            {% partial 'global/header' %}
        </div>

        {% page %}

        <div id="global-footer" class="global-footer">
            {% partial 'global/footer' %}
        </div>

        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>

</html>